.mainBody {
    margin-top: 10px;
    // padding-right: 10px;
    width: 100%;
    // width: calc(100% - 195px);
    // margin-left: 220px;
}

.card {
    height: auto;
    border-radius: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
}

.topBar {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 65px;
    padding: 10px;
    border-radius: 16px;
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__userInfo {
        display: flex;
    }

    &__icon {
        svg {
            font-size: 38px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__name {
        font-weight: bold;
        font-size: 12px;
        color: #808191;
    }

    &__designation {
        font-size: 10px;
        color: #6c757d;
    }

    &__link {
        display: flex;
        width: 66%;
    }

    &__badgeContainer {
        margin-right: 8px;
    }

    &__badge {
        background-color: #e9e7f8;
        color: #5c4fb3;
        padding: 6px 12px;
        border-radius: 8px;

        &__icon {
            margin-right: 4px;
            display: inline-block;
            height: 18px;
        }

        &__text {
            font-size: 12.5px;
            font-weight: 500;
            position: relative;
            top: -3px;
        }
    }

    &__notification {
        font-size: 25px;
        &__item {
            cursor: pointer;
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}
