@import "../../../styles/index.scss";

.a-button {
    width: 100%;
    padding: 10px;
    border-radius: 1rem;
    background-color: #ffcf52;
    border-color: #ffcf52;
    outline: none;
    border: 1px;
    transition: 0.3s;
    cursor: pointer;
    font-weight: bold;

    &:focus-visible {
        border-color: #ffcf52;
        outline: none;
        border: 1px;
    }

    &:hover{
        background-color: #ffd66c;
    }

    &:active {
        border-color: #ffcf52;
        outline: none;
        border: 1px;
        box-shadow:  inset 0 3px 5px rgba(0,0,0,.125);
    }
}
