@import "../../../styles/index.scss";

.o-loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 16px;

    &__message {
        text-align: center;
    }

    &__img {
        height: 100px;
    }

    &__form {
        width: 300px;
        text-align: left;
    }
}
