@import "../../../styles/index.scss";

.a-container {
    &--4 {
        margin-top: 4px;
    }

    &--8 {
        margin-top: 8px;
    }

    &--12 {
        margin-top: 12px;
    }

    &--16 {
        margin-top: 16px;
    }

    &--20 {
        margin-top: 20px;
    }

    &--24 {
        margin-top: 24px;
    }

    &--center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
