@import "../../styles/index.scss";

.p-pos {
    padding: 20px;
    // max-width: 1366px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    &__productCard {
        padding: 10px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 8px;
        transition: all 0.3s;
        &:hover {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
    }

    &__name {
        font-size: 14px;
        font-weight: bold;
    }

    &__cart {
        // max-width: 700px;
    }

    &__price {
        font-size: 12px;
        font-weight: bold;
        color: brown;
    }

    &__qty {
        margin-right: 7px;
        margin-left: 8px;
        font-weight: bold;
    }

    &__row {
        display: flex;
        flex-shrink: 0;
        font-size: 13px;
        background-color: #f6fdfe;
        border-bottom: 1px dashed #ced4da;
        padding: 8px 0;
        &--title {
            background: #fff;
            font-weight: bold;
            padding-bottom: 10px;
        }
    }

    &__element {
        width: 16%;
        &--product {
            width: 25%;
        }
    }

    &__remove{
        width: 5%;
    }

    &__discount {
        width: 75px;
    }

    &__calculation {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__label {
            font-weight: bold;
            margin-right: 8px;
        }

        input {
            border-radius: 8px;
            padding-left: 6px;
        }
    }

    &__customer {
        display: grid;
        grid-template-columns: 8fr 1fr;
        column-gap: 20px;
    }

    &__payment {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8px;
    }

    &_info {
        font-weight: bold;
    }

    &__stockItem {
        display: flex;
        column-gap: 20px;
        padding: 5px;
        border: 1px dashed;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__actionContainer{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;

    }

    &__productFilter{
        margin-right: 20px;
    }
}
