@import "../../../styles/index.scss";

.a-input {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 8px;
    box-shadow: inset 0 1px 2px rgb(0, 0, 0, 0.8);
    color: #323232;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;

    &--login{
        border-radius: 1rem;
    }

    &__error {
        font-size: 12px;
        margin-top: 4px;
        color: coral;
    }

    &__label {
        font-size: 15px;
        font-weight: bold;
        color: darkblue;
    }
}
